<h1>iTalkSmart(logo)</h1>
<input type="text"  placeholder="username" class="form-control">
<input type="text" placeholder="password" class="form-control">
<button type="button" ng-click="auth()" class="btn btn-primary block full-width">Login</button>


<div ng-if="authorized()">
  <input type="text" ng-model="interview" placeholder="interview question" class="form-control">
  <button type="button" ng-click="postInterview()" class="btn btn-success">submit</button>
<br>
  <input type="text" ng-model="speech" placeholder="speech question" class="form-control">
  <button type="button" ng-click="postSpeech()" class="btn btn-success">submit</button>

</div>
