
<div ng-hide="loggedIn">
username:<input type="text"  placeholder="username" class="form-control" ng-model="username">
password:<input type="password" placeholder="password" class="form-control" ng-model="password">
<button type="button" ng-click="login()" class="btn btn-info block full-width">Login</button>
</div>

<br>
<div ng-if="loggedIn">
<br>
  <p class="addToDatabase">Add questions to the database</p>
  <input type="text" ng-model="questions.interview" placeholder="interview question" class="form-control">
  <button type="button" ng-click="postInterview()" class="btn btn-success">submit</button>
<br><br><br>
  <input type="text" ng-model="questions.speech" placeholder="speech question" class="form-control">
  <button type="button" ng-click="postSpeech()" class="btn btn-success">submit</button>
  {{speech}}
</div>
