
<div class="row">
  <div class="col-md-6">
    <button type="button" ng-hide="speechResults" class="btn btn-group-justified btn-danger btn-lg" class="interviewTimer" ng-click="getInterview()">Interview question</button>
    <div ng-show="interviewResults" class="results">
      {{interviewResults}}
    </div>
  </div>

  <div class="col-md-6">
    <button type="button" ng-hide="interviewResults" class="btn btn-group-justified btn-danger btn-lg" ng-click="getSpeech()">Speech topic</button>
    <div ng-show="speechResults" class="results">
      {{speechResults}}
    </div>
  </div>
</div>

<div id="timer" ng-show="interviewResults">
  A few seconds to contemplate<br>{{counter}}
  <button ng-click="stop()">Stop</button>
</div>
