
  <div id="interviewPlay" ng-hide="speechResults">
    <img src="" alt="" />
    <button type="button" class="btn-block btn-lg btn-info" ng-click="getInterview()">Interview question</button>
    <div ng-show="interviewResults" class="results">
      {{interviewResults}}
    </div>
  </div>

  <div id="speechPlay" ng-hide="interviewResults">
    <img src="" alt="" />
    <button type="button" class="btn-block btn-lg btn-info" ng-click="getSpeech()">Speech topic</button>
    <div ng-show="speechResults" class="results">
      {{speechResults}}
    </div>
  </div>
