
<!-- <div class="row">
  <div class="col-md-6">
    <button type="button" ng-hide="speechResults" class="btn btn-group-justified btn-danger btn-lg" class="interviewTimer" ng-click="getInterview()">Interview question</button>
    <div ng-show="interviewResults" class="results">
      {{interviewResults}}
    </div>
  </div>

  <div class="col-md-6">
    <button type="button" ng-hide="interviewResults" class="btn btn-group-justified btn-danger btn-lg" ng-click="getSpeech()">Speech topic</button>
    <div ng-show="speechResults" class="results">
      {{speechResults}}
    </div>
  </div>
</div> -->

<div class="containter">
    <button type="button" ng-hide="speechResults" class="btn btn-group-justified btn-danger btn-lg" class="interviewTimer" ng-click="getInterview()">Interview question</button>
    <button type="button" ng-hide="interviewResults" class="btn btn-group-justified btn-danger btn-lg" ng-click="getSpeech()">Speech topic</button>
</div>

<div class="row">
  <div class="col-sm-6">
    <div ng-show="interviewResults" class="container-result">
      {{interviewResults}}
    </div>

    <div ng-show="speechResults" class="container-result">
      {{speechResults}}
    </div>
  </div>

<div class="col-sm-6">
<div id="container-counter" ng-show="interviewResults">
  <p class="counter">{{counter}}</p>
  <button class="btn btn-default" ng-click="stop()">Stop</button>
</div>
</div>
</div>
